/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 20, 2018, 9:29:26 PM
    Author     : zach
*/
body {
    text-align: center;
}
#logo {
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
